* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 10px;
    width: 100%;
    background-color: gray;
    display: flex;
    box-shadow: 0 1px 5px black;
    z-index: 1;
}

header > div {
    width: 50%;
    display: flex;
    align-items: center;
}

.left {
    justify-content: left;
}

.right {
    justify-content: right;
}

.user {
    padding: 5px;
    font-size: large;
}

.avatar {
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    border-radius: 50%;
    border: 1px solid black;
}

.content {
    display: flex;
    justify-content: center;
}

main {
    max-width: 900px;
    min-width: 900px;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.window {
    margin: 10px 0;
    width: 45%;
    height: 100px;
    border-radius: 25px;
    background-color: white;
    transition: all 0.5s ease-out;
    box-shadow: 1px 2px 10px black;
    overflow: hidden;
}

.name {
    height: 50px;
    background-color: gray;
    font-size: large;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    text-align: center;
    padding: 5px;
}

.discription {
    text-align: center;
    padding: 5px;
}

.opened {
    min-height: 100px;
    height: 95%;
    width: calc(100% - 10% / 3);
    background-color: inherit;
}

.opened > :last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiny {
    width: 50px;
    height: 50px;
    border-radius: 0;
    margin: 5px;
    background: none;
    box-shadow: none;
    filter: drop-shadow(5px 5px 3px black);
    transition:
        width 1s linear,
        height 1s linear,
        margin 1s linear;
}

.tiny:hover {
    width: 60px;
    height: 60px;
    margin: 0;
}

.tiny > .discription {
    overflow-y: auto;
}

.tasks-list {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
}

div.loading {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    width: 80px;
    height: 80px;
    animation: loading-spinner 1s ease-in-out infinite;
}

.loading > .spinner {
    border-radius: 50%;
    border: solid 5px black;
    height: 50px;
    width: 50px;
}

.loading > .block {
    position: relative;
    bottom: 25px;
    width: 50px;
    height: 25px;
    background-color: rgb(230, 230, 230);
}

.message {
    text-align: center;
    background-color: rgb(255, 68, 68);
    padding: 30px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 200px;
    border-radius: 25px;
    transition: opacity 5s linear;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    text-align: center;
}

.window.outer > .content {
    padding: 2%;
    height: 95%;
}